[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest
[submodule "robofleet_client_lib"]
	path = robofleet_client_lib
	url = https://github.com/UTNuclearRobotics/robofleet_client_lib.git
